@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th class="padding-l-20">
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td class="padding-l-20">
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<div class="row padding-t-20">
    <div class="col-xs-12">
        <span class="bold">Contact:</span> Meghan Shannon - sha12052@byui.edu
    </div>
</div>