@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to Contoso University</h2>
        <p>
            This is the university where dreams come true! Better than all the other schools combined! 
            Do not be a dummy and attend Harvard! Attend Contoso University!
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="~/images/college-img.jpg" alt="Contoso College" class="image-sz" />
    </div>
</div>